# 复制为 config.yaml 后修改
host: 0.0.0.0
port: 11808
backend: 127.0.0.1:11707
interval: 20
command: "sudo /usr/bin/supervisorctl stop llama && sleep 3 && sudo /usr/bin/supervisorctl start llama"
# 启动时是否同步执行一次 command（失败则启动失败退出），默认 false
startupCommand: true
